<div class="card" ">
    <div class="card-header">
        <h4>Result  </h4>
    </div>

    <div class="card-body">
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Department</label>
            <div class="col-sm-9" id="name">
@ViewData["Dname"]
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Semester</label>
            <div class="col-sm-9">
@ViewData["Sem"]
            </div>
        </div>
        <div class="form-group row">
            <label for="stu" class="col-sm-3 col-form-label">Enrollment Number </label>
            <div class="col-sm-9">
@ViewData["stu"]
            </div>
        </div>
        <div class="form-group row">
            <label for="s1" class="col-sm-3 col-form-label"> <b>SUBJACTS & RESULT</b></label>

        </div>
        <div class="form-group row">
            <label for="s1" class="col-sm-3 col-form-label"> @ViewData["sub1"]</label>
            <div class="col-sm-9">
@ViewData["s1"]

            </div>
        </div>
        <div class="form-group row">
            <label for="s2" class="col-sm-3 col-form-label">@ViewData["sub2"]</label>
            <div class="col-sm-9">
@ViewData["s2"]
            </div>
        </div>
        <div class="form-group row">
            <label for="s3" class="col-sm-3 col-form-label">@ViewData["sub3"]</label>
            <div class="col-sm-9">
@ViewData["s3"]
            </div>
        </div>
        <div class="form-group row">
            <label for="s4" class="col-sm-3 col-form-label">@ViewData["sub4"]</label>
            <div class="col-sm-9">
@ViewData["s4"]
            </div>
        </div>
        <div class="form-group row">
            <label for="s5" class="col-sm-3 col-form-label">@ViewData["sub5"]</label>
            <div class="col-sm-9">
@ViewData["s5"]
            </div>
        </div>
        <div class="form-group row">
            <label for="s4" class="col-sm-3 col-form-label">@ViewData["sub6"]</label>
            <div class="col-sm-9">
@ViewData["s6"]
            </div>
        </div>
        <div class="form-group row">
            <label for="s5" class="col-sm-3 col-form-label">@ViewData["sub7"]</label>
            <div class="col-sm-9">
@ViewData["s7"]
            </div>
        </div>





    </div>

</div>
