@model CollageMng.Models.Icmarks

@if (!string.IsNullOrEmpty(ViewBag.Number))
{
    <div class="alert alert-danger">
        @ViewBag.Number
    </div>
}



<div class="card">
    <div class="card-header">
        <h4>Add Marks </h4>
    </div>
    <form method="post" asp-action="AddIcMarks" asp-controller="FacultyController">
        <div class="card-body">
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Department</label>
                <div class="col-sm-9">
                    @ViewBag.Dname
                    @Html.TextBoxFor(model => model.Dname, new { type = "hidden", @class = "form-control", id = "dep", value = @ViewBag.Dname })
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Semester</label>
                <div class="col-sm-9">
                    @ViewBag.Sem
                    @Html.TextBoxFor(model => model.sem, new { type = "hidden", @class = "form-control", id = "sem", value = @ViewBag.Sem })
                </div>
            </div>
            <div class="form-group row">
                <label for="stu" class="col-sm-3 col-form-label">Enrollment Number </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Stuno, new { type = "number", @class = "form-control", required = "required" ,id = "stu", placeholder = "Enter Enrollment number of student ", })
                </div>
            </div>
            <div class="form-group row">
                <label for="s1" class="col-sm-3 col-form-label"> @ViewData["s1"]</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.S1, new { type = "number", @class = "form-control", required = "required", id = "s1", placeholder = "Enter Marks : ", value = " " })
                </div>
            </div>
            <div class="form-group row">
                <label for="s2" class="col-sm-3 col-form-label">@ViewData["s2"]</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.S2, new { type = "number", @class = "form-control", required = "required", id = "s2", placeholder = "Enter Marks : ", value = " " })
                </div>
            </div>
            <div class="form-group row">
                <label for="s3" class="col-sm-3 col-form-label">@ViewData["s3"]</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.S3, new { type = "number", @class = "form-control", required = "required", id = "s3", placeholder = "Enter Marks : ", value = " " })
                </div>
            </div>
            <div class="form-group row">
                <label for="s4" class="col-sm-3 col-form-label">@ViewData["s4"]</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.S4, new { type = "number", @class = "form-control", required = "required", id = "s4", placeholder = "Enter Marks : ", value = " " })
                </div>
            </div>
            <div class="form-group row">
                <label for="s5" class="col-sm-3 col-form-label">@ViewData["s5"]</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.S5, new { type = "number", @class = "form-control", required = "required", id = "s5", placeholder = "Enter Marks : ", value = " " })
                </div>
            </div>
          




        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Add Marks" />
        </div>

    </form>
</div>
